@using System.Web.Optimization;
<div id="containerInline">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Fecha Desde:</label>
            <div class="input-daterange input-group" id="containerDateRangeInLine">
                <input type="text" id="txtDateStartInLine" class="input-sm form-control" name="txtDateStartInLine" />
                <span class="input-group-addon"><label class="control-label">A:</label></span>
                <input type="text" id="txtDateEndInLine" class="input-sm form-control" name="txtDateEndInLine" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Tipo de Evento: </label>
            <select id="cboEventType" class="form-control input-sm"></select>
        </div>
        <button type="button" id="btnSearchInLine" class="btn claro-btn-info btn-sm">Buscar</button>
        <button type="button" id="btnCleanSearchInLine" class="btn claro-btn-info btn-sm">Limpiar</button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="tblInLine" class="table  table-striped table-hover claro-modal-tabla table-bordered">
                <thead class="claro-bg-primary">
                    <tr>
                        <th>Fecha y Hora</th>
                        <th>Destino</th>
                        <th>Duración</th>
                        <th>Inicio llamada</th>
                        <th>Fin de llamada</th>
                        <th>Costo</th>
                        <th>Saldo</th>
                        <th>Bolsa</th>
                        <th>Plan</th>
                        <th>Tipo de evento</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="errorInline"></div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PrepaidDataCall/InLineCall")
