@using System.Web.Optimization;

<div id="modal-content">
    <div id="AssociatedClaims">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered" id="tblAssociatedClaims">
                        <thead class="claro-bg-primary">
                            <tr>
                                <th class="col-sm-1">Nro. Reclamo</th>
                                <th class="col-sm-1">Fecha Reclamo</th>
                                <th class="col-sm-1">Tipificación</th>
                                <th class="col-sm-1">Monto Reclamado</th>
                                <th class="col-sm-1">Estado Reclamo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataCollection/AssociatedClaims")
