@using System.Web.Optimization;
<div id="modal-content">
    <div id="PostpaidDueDocumentNumber">
        <div class="row">
            <div class="col-md-12">
                <input id="chkCustomSearch" name="chkCustomSearch" type="checkbox">&nbsp; <label for="chkCustomSearch">Búsqueda Personalizada:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div id="divTypeDocument" class="col-md-6">
                        <label class="control-label">Tipo Documento(*)</label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Nro Documento(*)</label>
                        <input type="text" class="form-control input-sm" id="txtNumberDocument" name="txtNumberDocument" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            <button data-toggle="modal" class="btn claro-btn-info btn-sm" id="btnSearch" name="btnSearch">Buscar</button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="divResultNumberDocument">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed ">
                        <tr>
                            <td class="col-md-12">
                                <div class="col-md-5" id="divNameClient">
                                    <label class="control-label">Nombres Cliente</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5" id="divNumberDocument">
                                    <label class="control-label">Documento Asociado</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-12">
                                <div class="col-md-5" id="divMobileDue">
                                    <label class="control-label">Total Deuda Móvil</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5" id="divFixedDue">
                                    <label class="control-label">Total Deuda Fija</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-12">
                                <div class="col-md-5" id="divOverdueMobileDue">
                                    <label class="control-label">Total Deuda Vencida Móvil</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5" id="divOverdueFixedDue">
                                    <label class="control-label">Total Deuda Vencida Fija</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-12">
                                <div class="col-md-5" id="divPunishedMobileDue">
                                    <label class="control-label">Total Deuda Castigada Móvil</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5" id="divPunishedFixedDue">
                                    <label class="control-label">Total Deuda Castigada Fija</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-12">
                                <div class="col-md-5" id="divAntiquityDue">
                                    <label class="control-label">Antiguedad Deuda</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5" id="divAllServices">
                                    <label class="control-label">Total Servicios</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Cuentas en MOVIL
                    <div class="table-responsive">
                        <table class="table table-hover claro-modal-tabla table-bordered" id="tblMobileAccounts">
                            <thead class="claro-bg-primary">
                                <tr>
                                    <th class="col-sm-1">Nro</th>
                                    <th class="col-sm-1">Código Cliente</th>
                                    <th class="col-sm-1">Estado Cuenta</th>
                                    <th class="col-sm-1">Promedio Facturado</th>
                                    <th class="col-sm-1">Deuda Corriente</th>
                                    <th class="col-sm-1">Deuda Vencida</th>
                                    <th class="col-sm-1">Deuda Castigada</th>
                                    <th class="col-sm-1">Cant. Servicios</th>
                                    <th class="col-sm-1">Central Riesgos</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="errorMobileAccounts"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Cuentas en FIJA
                    <div class="table-responsive">
                        <table class="table  table-striped table-hover table-responsive claro-modal-tabla table-bordered" id="tblFixedAccounts">
                            <thead class="claro-bg-primary">
                                <tr>
                                    <th class="col-sm-1">Nro</th>
                                    <th class="col-sm-1">Código Cliente</th>
                                    <th class="col-sm-1">Estado Cuenta</th>
                                    <th class="col-sm-1">Promedio Facturado</th>
                                    <th class="col-sm-1">Deuda Corriente</th>
                                    <th class="col-sm-1">Deuda Vencida</th>
                                    <th class="col-sm-1">Deuda Castigada</th>
                                    <th class="col-sm-1">Cant. Servicios</th>
                                    <th class="col-sm-1">Central Riesgos</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="errorFixedAccounts"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-info claro-modal-contenido-titulo-panel" style="margin-left: 10px;">
                        <div class=" panel-heading claro-modal-contenido-titulo-panel" style="padding-top: 6px;padding-bottom: 5px;">
                            <div class="panel-title claro-modal-contenido-titulo-texto" style="font-size: 12px !important;">
                                <span class="glyphicon glyphicon-bookmark"></span>&nbsp;<b>Leyenda</b>
                            </div>
                        </div>
                        <div class="claro-modal-contenido-texto">
                            <div class="table-responsive">
                                <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
                                    <table id="tblCaption" class="table-responsive">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataCollection/PostpaidDueNumberDocument")
