@using System.Web.Optimization;
<div id="containerTrackingDetail">
    <div class="row">
        <div class="col-md-12">
            <h5 class="list-group-item-heading page-header text-info">INFORMACIÓN DEL CLIENTE</h5>
            <div class="form-inline">
                <div class="form-group col-md-4">
                    <label id="lblCaseNumber">Nro. de Caso:&nbsp;</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="lblCustomerCode">Código del Cliente:&nbsp;</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="lblName">Nombre:&nbsp;</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="lblRecurrent">Recurrente:&nbsp;</label>
                </div>
                <div class="form-group col-md-8">
                    <label id="lblContact">Contacto:&nbsp;</label>
                </div>
            </div>
            <div id="errorCustomerInformation"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="list-group-item-heading page-header text-info">DETALLE DEL SEGUIMIENTO</h5>
            <div class="form-group">
                <span class="label label-success">Documento de Referencia</span>
                <span class="label label-warning">Envío de Montos en Disputa</span>
            </div>
            <table id="tblTrackingDetail" class="table claro-modal-tabla table-bordered table-hover">
                <thead>
                    <tr class="claro-bg-primary">
                        <th></th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Ubicación</th>
                        <th class="text-center">Nivel</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Usuario Registro</th>
                        <th class="text-center">Propietario</th>
                        <th class="text-center">Comentario</th>
                        <th class="text-center">Cierre</th>
                        <th class="text-center">Reapertura</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="errorTrackingDetail"></div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataCollection/TrackingDetail")
