.header {
    width: 100%;
    padding: 12px 8px 12px 16px;
    color: white;
}

.header-system {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 85px;
    display: inline-block;
    float: left;
}

.header-system-logo {
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    margin: 7px 7px 7px 7px;
    margin-right: inherit;
    vertical-align: middle;
    float: left;
}

.header-system-name {
    display: inline-block;
    padding: 4px 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.system-name-short {
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 23px;
    width: 175px;
    margin-bottom: 5px;
}

.system-name-long {
    font-size: 12px;
    text-transform: uppercase;
    width: 175px;
    margin: 0;
}


.header-profile {
    float: right;
    display: block;
    text-align: right;
}

    .header-profile a {
        color: white;
    }

.header-profile-user {
    display: inline-block;
    padding: 2px 2px;
}

.header-profile-server {
    display: inline-block;
    padding: 2px 2px;
}

.header-session {
    float: right;
    clear: right;
    color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 4px;
    text-align: right;
    display: block;
}


.header-search {
	display: block;
    float: right;
    clear: right;
}
