@using System.Web.Optimization

<div id="ContainerOrderConsumption">
    <table id="tblOrderConsumption" class="table table-bordered table-condensed claro-modal-tabla">
        <thead>
            <tr class="claro-bg-primary">
                <td class="text-center">Código</td>
                <td class="text-center">Descripción</td>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataService/PostpaidOrderConsumption")


