<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ebsConsultaClavesPortTypeSOAP11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ebsConsultaClavesPortTypeSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://limdeseaiv30.tim.com.pe:8909/ConsultaClavesWS/ebsConsultaClavesSB11"
                binding="basicHttpBinding" bindingConfiguration="ebsConsultaClavesPortTypeSOAP11Binding"
                contract="ConsultaClaves.ebsConsultaClavesPortType" name="ebsConsultaClavesSB11" />
            <endpoint address="http://limdeseaiv30.tim.com.pe:8909/ConsultaClavesWS/ebsConsultaClavesSB12"
                binding="customBinding" bindingConfiguration="ebsConsultaClavesPortTypeSOAP12Binding"
                contract="ConsultaClaves.ebsConsultaClavesPortType" name="ebsConsultaClavesSB12" />
        </client>
    </system.serviceModel>
</configuration>