<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Claro.SIACU.ProxyService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ebsConsultaSegmentoPortTypeSOAP11Binding" />
        <binding name="ConsultaClienteUnificadoWSPortTypeSOAP11Binding" />
        <binding name="ProductosPrepagoClienteWSPortTypeSOAP11Binding" />
        <binding name="DetalleProductoPostpagoClienteWSPortTypeSOAP11Binding" />
        <binding name="clienteLTEPortTypeSOAP11Binding" />
        <binding name="clienteHFCPortTypeSOAP11Binding" />
        <binding name="SIACPostpagoConsultasWSServiceSoapBinding" />
        <binding name="ebsConsultaSaldoPortTypeSOAP11Binding" />
        <binding name="clienteLTEPortTypeSOAP11Binding1" />
        <binding name="clienteHFCPortTypeSOAP11Binding1" />
        <binding name="EbsSWSAPServiceSoapBinding" />
        <binding name="ConsultaDeudaCuentaSOAP" />
        <binding name="ebsOperacionesINPortTypeSOAP11Binding" />
        <binding name="EbsDatosPrepagoV2ServiceSoapBinding" />
        <binding name="ebsConsultaIMRPortTypeSOAP11Binding" />
        <binding name="EbsFinanceManagementServiceSoapBinding" />
        <binding name="UDBWSBindingSOAP11" />
        <binding name="ProductosPostpagoClienteWSPortTypeSOAP11Binding" />
        <binding name="ValidarCredencialesSUWSSB11Binding" />
        <binding name="ConsultaDatosPrePostWSPortTypeSOAP11Binding" />
        <binding name="EbsPaqueteDatosSoapPortBinding" />
        <binding name="ConsultaSeguridadSOAP" />
        <binding name="NumeroContactosClientewsPortTypeSOAP11Binding" />
        <binding name="PaquetesRoamingSOAP11Binding" />
        <binding name="Validacion4GLTEWSPortTypeSOAP11Binding" />
        <binding name="ConsultaIGVWSPortTypeSOAP11Binding" />
        <binding name="DocumentosFisicoWSPortTypeSOAP11Binding" />
        <binding name="DocumentosFisicoWSPortTypeSOAP11Binding1" />
        <binding name="EbsAuditoriaServiceSoapBinding" />
        <binding name="PaqueteM2MSOAP11Binding" />
        <binding name="ebsDetalleDocAjustePortTypeSOAP11Binding" />
        <binding name="TransaccionInteraccionesAsyncSOAP" />
        <binding name="RestricTetheVelocWSPortTypeSOAP11Binding" />
        <binding name="BasicHttpBinding_ISecurity">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BSS_ConsultaDatosSIMSOAP11Binding" />
        <binding name="ConsultaLineaCuentaWSPortTypeSOAP11Binding" />
        <binding name="BssCustomerManagementSoap11Binding3" />
        <binding name="BssCustomerManagementSoap11Binding4" />
        <binding name="BssAgreementManagementSOAP11Binding" />
        <binding name="obtenerDatosClienteColivingPortSOAP11Binding" />
        <binding name="DocumentosFisicoWSPortTypeSOAP11Binding2" />
        <binding name="BloqDesbloqLineaPostpagoWSPortTypeSOAP11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ebsConsultaSegmentoPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="ConsultaClienteUnificadoWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ProductosPrepagoClienteWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DetalleProductoPostpagoClienteWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="clienteLTEPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="clienteLTEPortTypeSOAP12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ebsConsultaIMRPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UDBWSBindingSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ProductosPostpagoClienteWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ConsultaDatosPrePostWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="NumerocontactosclientewsPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PaquetesRoamingSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="Validacion4GLTEWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DocumentosFisicoWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DocumentosFisicoWSPortTypeSOAP12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PaqueteM2MSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="ebsDetalleDocAjustePortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="RestricTetheVelocWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DocumentosFisicoWSPortTypeSOAP12Binding2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="BloqDesbloqLineaPostpagoWSPortTypeSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://limdeseaiv26.tim.com.pe:8909/ClienteLTEWS/ebsClientesLTESB11"
        binding="basicHttpBinding" bindingConfiguration="clienteLTEPortTypeSOAP11Binding"
        contract="SIACPost.LTE.clienteLTEPortType" name="ebsClienteLTESOAP11Port" />
      <endpoint address="http://limdeseaiv26.tim.com.pe:8909/ClienteLTEWS/ebsClientesLTESB12"
        binding="customBinding" bindingConfiguration="clienteLTEPortTypeSOAP12Binding"
        contract="SIACPost.LTE.clienteLTEPortType" name="ebsClienteLTESOAP12Port" />
      <endpoint address="http://limdeseaiv26.tim.com.pe:8909/ClienteLTEWS/ebsClientesLTESB11"
        binding="basicHttpBinding" bindingConfiguration="clienteLTEPortTypeSOAP11Binding1"
        contract="SIACPost.CustomerLTE.clienteLTEPortType" name="ebsClienteLTESOAP11Port1" />
      <endpoint address="http://limdeseaiv26.tim.com.pe:8909/ClienteLTEWS/ebsClientesLTESB12"
        binding="customBinding" bindingConfiguration="clienteLTEPortTypeSOAP12Binding1"
        contract="SIACPost.CustomerLTE.clienteLTEPortType" name="ebsClienteLTESOAP12Port1" />
      <endpoint address="http://limjandesv02.tim.com.pe:6909/ConsultaSaldoV2/ebsConsultaSaldo"
        binding="basicHttpBinding" bindingConfiguration="ebsConsultaSaldoPortTypeSOAP11Binding"
        contract="SIACPost.CreditBalance.ebsConsultaSaldoPortType" name="ebsConsultaSaldo" />
      <endpoint address="http://limdeseaiv22.tim.com.pe:8909/SIACPostpagoWS/SIACPostpagoConsultasWS"
        binding="basicHttpBinding" bindingConfiguration="SIACPostpagoConsultasWSServiceSoapBinding"
        contract="SIACPost.Customer.SIACPostpagoConsultasWS" name="SIACPostpagoConsultasWSSoapPort" />
      <endpoint address="http://172.19.74.68:8909/ClienteHFC/ebsClienteHFC"
        binding="basicHttpBinding" bindingConfiguration="clienteHFCPortTypeSOAP11Binding1"
        contract="SIACPost.CustomerHFC.clienteHFCPortType" name="ebsClienteHFC1" />
      <endpoint address="http://172.19.74.68:8909/ClienteHFC/ebsClienteHFC"
        binding="basicHttpBinding" bindingConfiguration="clienteHFCPortTypeSOAP11Binding"
        contract="SIACPost.HFC.clienteHFCPortType" name="ebsClienteHFC" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ProductosPrepagoClienteWS/ebsProductosPrepagoClienteSB11"
        binding="basicHttpBinding" bindingConfiguration="ProductosPrepagoClienteWSPortTypeSOAP11Binding"
        contract="SIACU.Pre.Products.ProductosPrepagoClienteWSPortType"
        name="ebsProductosPrepagoClienteSB11" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ProductosPrepagoClienteWS/ebsProductosPrepagoClienteSB12"
        binding="customBinding" bindingConfiguration="ProductosPrepagoClienteWSPortTypeSOAP12Binding"
        contract="SIACU.Pre.Products.ProductosPrepagoClienteWSPortType"
        name="ebsProductosPrepagoClienteSB12" />
      <endpoint address="http://limdeseaiv22.tim.com.pe:8909/WSSAP/EbsSWSAP"
        binding="basicHttpBinding" bindingConfiguration="EbsSWSAPServiceSoapBinding"
        contract="SIACPost.DatosSAP.EbsSWSAP" name="EbsSWSAPSoapPort" />
      <endpoint address="http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaDeudaCuenta"
        binding="basicHttpBinding" bindingConfiguration="ConsultaDeudaCuentaSOAP"
        contract="SIACPost.AccountDue.ConsultaDeudaCuenta" name="ConsultaDeudaCuentaSOAP" />
      <endpoint address="http://limdeseaiv13.tim.com.pe:7909/OperacionesINWS/ebsOperacionesIN"
        binding="basicHttpBinding" bindingConfiguration="ebsOperacionesINPortTypeSOAP11Binding"
        contract="SIACPre.BondTFI.ebsOperacionesINPortType" name="ebsOperacionesIN" />
      <endpoint address="http://limdeseaiv22.tim.com.pe:8909/ConsultaDatosPrepagoV2WS/EbsDatosPrepagoV2"
        binding="basicHttpBinding" bindingConfiguration="EbsDatosPrepagoV2ServiceSoapBinding"
        contract="SIACPre.Service2.EbsDatosPrepagoV2" name="EbsDatosPrepagoV2SoapPort" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ConsultaClienteUnificadoWS/ebsConsultaClienteUnificadoSB11"
        binding="basicHttpBinding" bindingConfiguration="ConsultaClienteUnificadoWSPortTypeSOAP11Binding"
        contract="SIACU.Customers.ConsultaClienteUnificadoWSPortType"
        name="ebsConsultaClienteUnificadoSB11" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ConsultaClienteUnificadoWS/ebsConsultaClienteUnificadoSB12"
        binding="customBinding" bindingConfiguration="ConsultaClienteUnificadoWSPortTypeSOAP12Binding"
        contract="SIACU.Customers.ConsultaClienteUnificadoWSPortType"
        name="ebsConsultaClienteUnificadoSB12" />
      <endpoint address="http://172.19.74.68:8909/ConsultaIMR/ebsConsultaIMRSB11"
        binding="basicHttpBinding" bindingConfiguration="ebsConsultaIMRPortTypeSOAP11Binding"
        contract="SIACPost.IMR.ebsConsultaIMRPortType" name="ebsConsultaIMRSB11" />
      <endpoint address="http://172.19.74.68:8909/ConsultaIMR/ebsConsultaIMRSB12"
        binding="customBinding" bindingConfiguration="ebsConsultaIMRPortTypeSOAP12Binding"
        contract="SIACPost.IMR.ebsConsultaIMRPortType" name="ebsConsultaIMRSB12" />
      <endpoint address="http://limdeseaiv24.tim.com.pe:8909/JanusServicesWS/EbsFinanceManagement"
        binding="basicHttpBinding" bindingConfiguration="EbsFinanceManagementServiceSoapBinding"
        contract="SIACPost.FinanceManagement.EbsFinanceManagement" name="EbsFinanceManagementSoapPort" />
      <endpoint address="http://limdeseaiv35.tim.com.pe:8909/UDBConnectorWS/UDBWSSOAP11Port"
        binding="basicHttpBinding" bindingConfiguration="UDBWSBindingSOAP11"
        contract="SIACPost.HLRUDB.UDBWSPortTypeSOAP11" name="UDBWSSOAP11Port" />
      <endpoint address="http://limdeseaiv35.tim.com.pe:8909/UDBConnectorWS/UDBWSSOAP12Port"
        binding="customBinding" bindingConfiguration="UDBWSBindingSOAP12"
        contract="SIACPost.HLRUDB.UDBWSPortTypeSOAP12" name="UDBWSSOAP12Port" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ProductosPostpagoClienteWS/ebsProductosPostpagoClienteSB11"
        binding="basicHttpBinding" bindingConfiguration="ProductosPostpagoClienteWSPortTypeSOAP11Binding"
        contract="SIACU.Post.Products.ProductosPostpagoClienteWSPortType"
        name="ebsProductosPostpagoClienteSB11" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ProductosPostpagoClienteWS/ebsProductosPostpagoClienteSB12"
        binding="customBinding" bindingConfiguration="ProductosPostpagoClienteWSPortTypeSOAP12Binding"
        contract="SIACU.Post.Products.ProductosPostpagoClienteWSPortType"
        name="ebsProductosPostpagoClienteSB12" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/DetalleProductoPostpagoClienteWS/ebsDetalleProductoPostpagoClienteSB11"
        binding="basicHttpBinding" bindingConfiguration="DetalleProductoPostpagoClienteWSPortTypeSOAP11Binding"
        contract="SIACU.Post.Lines.DetalleProductoPostpagoClienteWSPortType"
        name="ebsDetalleProductoPostpagoClienteSB11" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/DetalleProductoPostpagoClienteWS/ebsDetalleProductoPostpagoClienteSB12"
        binding="customBinding" bindingConfiguration="DetalleProductoPostpagoClienteWSPortTypeSOAP12Binding"
        contract="SIACU.Post.Lines.DetalleProductoPostpagoClienteWSPortType"
        name="ebsDetalleProductoPostpagoClienteSB12" />
      <endpoint address="http://limdeseaiv35.tim.com.pe:8909/ValidarCredencialesSUWS/ValidarCredencialesSUWSSB11"
        binding="basicHttpBinding" bindingConfiguration="ValidarCredencialesSUWSSB11Binding"
        contract="Audit.Redirect.ValidarCredencialesSUWSPortType" name="ValidarCredencialesSUWSSB11" />
      <endpoint address="http://limdeseaiv13.tim.com.pe:7909/ConsultaSegmentoClienteWS/ebsConsultaSegmento11SB"
        binding="basicHttpBinding" bindingConfiguration="ebsConsultaSegmentoPortTypeSOAP11Binding"
        contract="SIAC.Segment.ebsConsultaSegmentoPortType" name="ebsConsultaSegmento11SB" />
      <endpoint address="http://limdeseaiv13.tim.com.pe:7909/ConsultaSegmentoClienteWS/ebsConsultaSegmento12SB"
        binding="customBinding" bindingConfiguration="ebsConsultaSegmentoPortTypeSOAP12Binding"
        contract="SIAC.Segment.ebsConsultaSegmentoPortType" name="ebsConsultaSegmento12SB" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ConsultaDatosPrePostWS/ebsConsultaDatosPrePostSB11"
        binding="basicHttpBinding" bindingConfiguration="ConsultaDatosPrePostWSPortTypeSOAP11Binding"
        contract="SIACPre.DataPrePost.ConsultaDatosPrePostWSPortType"
        name="ebsConsultaDatosPrePostSB11" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/ConsultaDatosPrePostWS/ebsConsultaDatosPrePostSB12"
        binding="customBinding" bindingConfiguration="ConsultaDatosPrePostWSPortTypeSOAP12Binding"
        contract="SIACPre.DataPrePost.ConsultaDatosPrePostWSPortType"
        name="ebsConsultaDatosPrePostSB12" />
      <endpoint address="http://limdeseaiv13.tim.com.pe:7909/PaqueteDatosWS/EbsPaqueteDatos"
        binding="basicHttpBinding" bindingConfiguration="EbsPaqueteDatosSoapPortBinding"
        contract="SIACPre.PaqueteDatos.EbsPaqueteDatos" name="EbsPaqueteDatosSoapPort" />
      <endpoint address="http://limdeseaiv22.tim.com.pe:8909/AuditoriaWS/EbsAuditoria"
        binding="basicHttpBinding" bindingConfiguration="EbsAuditoriaServiceSoapBinding"
        contract="SIACSecurity.Permissions.EbsAuditoria" name="EbsAuditoriaSoapPort" />
      <endpoint address="http://limdeseaiv15.tim.com.pe:8901/Utilities_Services/Seguridad/Inquiry/ConsultaSeguridad"
        binding="basicHttpBinding" bindingConfiguration="ConsultaSeguridadSOAP"
        contract="SIAC.Seguridad.ConsultaSeguridad" name="ConsultaSeguridadSOAP" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/NumeroContactosClienteWS/ebsNumeroContactosClienteSB11"
        binding="basicHttpBinding" bindingConfiguration="NumeroContactosClientewsPortTypeSOAP11Binding"
        contract="SIACPost.CustomerContact.NumeroContactosClienteWSPortType"
        name="ebsnumerocontactosclienteSB11" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/NumeroContactosClienteWS/ebsNumeroContactosClienteSB12"
        binding="customBinding" bindingConfiguration="NumerocontactosclientewsPortTypeSOAP12Binding"
        contract="SIACPost.CustomerContact.NumeroContactosClienteWSPortType"
        name="ebsnumerocontactosclienteSB12" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/PaquetesRoamingWS/ebsPaquetesRoamingSB12"
        binding="customBinding" bindingConfiguration="PaquetesRoamingSOAP12Binding"
        contract="SIACPost.PackageRoaming.PaquetesRoamingPortType" name="ebsPaquetesRoamingSOAP12Port" />
      <endpoint address="http://limdeseaiv28.tim.com.pe:8909/PaquetesRoamingWS/ebsPaquetesRoamingSB11"
        binding="basicHttpBinding" bindingConfiguration="PaquetesRoamingSOAP11Binding"
        contract="SIACPost.PackageRoaming.PaquetesRoamingPortType" name="ebsPaquetesRoamingSOAP11Port" />
      <endpoint address="http://172.19.74.189:8901/PRS_ConsultaIGV/proxy_services/ConsultaIGV"
        binding="basicHttpBinding" bindingConfiguration="ConsultaIGVWSPortTypeSOAP11Binding"
        contract="SIACPost.IGVHFC.ConsultaIGVWSPortType" name="ebsConsultaIGVSB11" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/Validacion4GLTEWS/Validacion4GLTESB11"
        binding="basicHttpBinding" bindingConfiguration="Validacion4GLTEWSPortTypeSOAP11Binding"
        contract="SIACPost.Validate4GLTE.Validacion4GLTEWSPortType"
        name="Validacion4GLTESB11" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/Validacion4GLTEWS/Validacion4GLTESB12"
        binding="customBinding" bindingConfiguration="Validacion4GLTEWSPortTypeSOAP12Binding"
        contract="SIACPost.Validate4GLTE.Validacion4GLTEWSPortType"
        name="Validacion4GLTESB12" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/DocumentosFisicoWS_v2/ebsDocumentosFisicoSB11"
        binding="basicHttpBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP11Binding"
        contract="SIACPost.DocumentoFisico.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB11" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/DocumentosFisicoWS_v2/ebsDocumentosFisicoSB12"
        binding="customBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP12Binding"
        contract="SIACPost.DocumentoFisico.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB12" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/DocumentosFisicoWS_v2/ebsDocumentosFisicoSB11"
        binding="basicHttpBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP11Binding1"
        contract="SIACPost.DocumentoFisico.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB111" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/DocumentosFisicoWS_v2/ebsDocumentosFisicoSB12"
        binding="customBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP12Binding1"
        contract="SIACPost.DocumentoFisico.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB121" />
      <endpoint address="http://limdeseaiv25.tim.com.pe:8903/PaqueteM2MWS/ebsPaqueteM2MWSPortTypeSB12"
        binding="customBinding" bindingConfiguration="PaqueteM2MSOAP12Binding"
        contract="SIACPost.RechargesM2M.PaqueteM2MPortType" name="PaqueteM2MSOAP12Port" />
      <endpoint address="http://limdeseaiv25.tim.com.pe:8903/PaqueteM2MWS/ebsPaqueteM2MWSPortTypeSB11"
        binding="basicHttpBinding" bindingConfiguration="PaqueteM2MSOAP11Binding"
        contract="SIACPost.RechargesM2M.PaqueteM2MPortType" name="PaqueteM2MSOAP11Port" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/ebsDetalleDocAjuste/ebsDetalleDocAjusteSB12"
        binding="customBinding" bindingConfiguration="ebsDetalleDocAjustePortTypeSOAP12Binding"
        contract="SIACPost.DetalleAjuste.ebsDetalleDocAjustePortType"
        name="ebsDetalleDocAjusteSB12" />
      <endpoint address="http://limdeseaiv19.tim.com.pe:8909/ebsDetalleDocAjuste/ebsDetalleDocAjusteSB11"
        binding="basicHttpBinding" bindingConfiguration="ebsDetalleDocAjustePortTypeSOAP11Binding"
        contract="SIACPost.DetalleAjuste.ebsDetalleDocAjustePortType"
        name="ebsDetalleDocAjusteSB11" />
      <endpoint address="http://172.19.74.141:8901/CRM_Services/Clarify/Transaction/TransaccionInteraccionesAsync"
        binding="basicHttpBinding" bindingConfiguration="TransaccionInteraccionesAsyncSOAP"
        contract="SIACU.TransaccionInteraccion.TransaccionInteraccionesAsync"
        name="TransaccionInteraccionesAsyncSOAP" />
      <endpoint address="http://claro.com.pe/eai/tarificacion/restricTetheVeloc/v1/"
        binding="basicHttpBinding" bindingConfiguration="RestricTetheVelocWSPortTypeSOAP11Binding"
        contract="SIACPost.RestricTethecVeloc.RestricTetheVelocWSPortType"
        name="restricTetheVelocSOAP11" />
      <endpoint address="http://claro.com.pe/eai/tarificacion/restricTetheVeloc/v1/"
        binding="customBinding" bindingConfiguration="RestricTetheVelocWSPortTypeSOAP12Binding"
        contract="SIACPost.RestricTethecVeloc.RestricTetheVelocWSPortType"
        name="restricTetheVelocSOAP12" />
      <endpoint address="http://localhost:55209/Security.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISecurity" contract="SecurityService.ISecurity"
        name="BasicHttpBinding_ISecurity" />
      <endpoint address="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService"
        binding="basicHttpBinding" bindingConfiguration="BSS_ConsultaDatosSIMSOAP11Binding"
        contract="SIACPre.ConsultarDatosSIM.BSS_ConsultaDatosSIMPort"
        name="BSS_ConsultaDatosSIMSB11" />
      <endpoint address="http://172.17.26.38:20000/ConsultaLineaCuentaWS/ebsConsultaLineaCuentaWSSB11"
        binding="basicHttpBinding" bindingConfiguration="ConsultaLineaCuentaWSPortTypeSOAP11Binding"
        contract="SIAC.ConsultaLineaCuenta.ConsultaLineaCuentaWSPortType"
        name="ebsConsultaLineaCuentaWSSB11" />
      <endpoint address="http://localhost:24000/esb/customer/bssCustomerManagement/v2/"
        binding="basicHttpBinding" bindingConfiguration="BssCustomerManagementSoap11Binding4"
        contract="SIACU.CustomerInfo.BssCustomerManagementPort" name="BssCustomerManagementPort4" />
      <endpoint address="http://www.example.com" binding="basicHttpBinding"
        bindingConfiguration="BssCustomerManagementSoap11Binding3" contract="SIACU.CustomerManagement.BssCustomerManagementPort"
        name="BssCustomerManagementPort3" />
      <endpoint address="http://localhost:24000/esb/engagedParty/bssAgreementManagement/v2/"
        binding="basicHttpBinding" bindingConfiguration="BssAgreementManagementSOAP11Binding"
        contract="SIACU.RetrieveSubscriptions.BssAgreementManagementPort"
        name="BssAgreementManagementPort" />
      <endpoint address="http://127.0.0.1:8909/esb/postventa/obtenerDatosClienteColiving/v1/"
        binding="basicHttpBinding" bindingConfiguration="obtenerDatosClienteColivingPortSOAP11Binding"
        contract="SIACU.BusquedaLineaCliente.obtenerDatosClienteColivingPort"
        name="obtenerDatosClienteColivingPort" />
      <endpoint address="http://localhost:20000/DocumentoFisicoWSV3/ebsDocumentosFisicoSB11"
        binding="basicHttpBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP11Binding2"
        contract="SIACPost.DocumentoFisicoV3.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB112" />
      <endpoint address="http://localhost:20000/DocumentoFisicoWSV3/ebsDocumentosFisicoSB12"
        binding="customBinding" bindingConfiguration="DocumentosFisicoWSPortTypeSOAP12Binding2"
        contract="SIACPost.DocumentoFisicoV3.DocumentosFisicoWSPortType"
        name="ebsDocumentosFisicoSB122" />
      <endpoint address="http://172.17.26.152:20000/ConsultaLineaCuentaCBIOWS/ebsConsultaLineaCuentaWSSB11"
        binding="basicHttpBinding" bindingConfiguration="ConsultaLineaCuentaWSPortTypeSOAP11Binding"
        contract="SIAC.ConsultaLineaCuenta.ConsultaLineaCuentaWSPortType"
        name="ebsConsultaLineaCuentaWSSB11" />
      <endpoint address="http://172.17.26.118:20000/BloqDesbloqLineaPostpagoWS/ebsBloqDesbloqLineaPostpagoSB11"
        binding="basicHttpBinding" bindingConfiguration="BloqDesbloqLineaPostpagoWSPortTypeSOAP11Binding"
        contract="SIACPost.BloqDesbloqLineaPostpago.BloqDesbloqLineaPostpagoWSPortType"
        name="ebsBloqDesbloqLineaPostpagoSB11" />
      <endpoint address="http://172.17.26.118:20000/BloqDesbloqLineaPostpagoWS/ebsBloqDesbloqLineaPostpagoSB12"
        binding="customBinding" bindingConfiguration="BloqDesbloqLineaPostpagoWSPortTypeSOAP12Binding"
        contract="SIACPost.BloqDesbloqLineaPostpago.BloqDesbloqLineaPostpagoWSPortType"
        name="ebsBloqDesbloqLineaPostpagoSB12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Claro.SIACU.ProxyService.Properties.Settings>
      <setting name="Claro_SIACU_ProxyService_SAP_Operations_ebsSimcards"
        serializeAs="String">
        <value>http://172.19.74.68:8909/SimcardsWS/ebsSimcards</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIACPost_StateAccount_ConsultaEstadoCuenta"
        serializeAs="String">
        <value>http://limdeseaiv15.tim.com.pe:8901/OAC_Services/Inquiry/ConsultaEstadoCuenta</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIACPre_Service_EbsDatosPrepagoService"
        serializeAs="String">
        <value>http://limdeseaiv22.tim.com.pe:8909/ConsultaDatosPrepagoWS/EbsDatosPrepago</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIAC_HLRConsult_HlrSiacWSService"
        serializeAs="String">
        <value>http://limdeseaiv22.tim.com.pe:8909/HLRSiacWS/HlrSiacWS</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIACPost_Recharges_ConsultasRecargasSOAP11BindingQSService"
        serializeAs="String">
        <value>http://limdeseaiocsv01.tim.com.pe:8909/Postpaid_Services/Movil/Consultas/Recargas</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIACPost_GetCustomerManagementFS_CustomerManagementFS"
        serializeAs="String">
        <value>http://172.19.91.185:10051/esb/ws/bss/Customer/CustomerManagementFS/V1/</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIAC_Post_DatosPrePost_V2_ConsultaDatosPrePostWSService"
        serializeAs="String">
        <value>http://limdeseaiv28.tim.com.pe:8909/ConsultaDatosPrePostWS_V2/ebsConsultaDatosPrePostSB11</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_SIACU_Interacciones_TransaccionInteraccionesAsync"
        serializeAs="String">
        <value>http://limdesosbv05.tim.com.pe:8909/CRM_Services/Clarify/Transaction/TransaccionInteraccionesAsync</value>
      </setting>
      <setting name="Claro_SIACU_ProxyService_CambioDatosSiacWS_CambioDatosSIACWSService"
        serializeAs="String">
        <value>http://10.172.139.60:7001/CambioDatosSIACWS/ebsCambioDatosSIACSB11</value>
      </setting>
    </Claro.SIACU.ProxyService.Properties.Settings>
  </applicationSettings>
</configuration>