<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <log4net debug="false" xdt:Transform="SetAttributes(debug)">
    <appender>
      <file value="C:\intranet\siacunico\siacu_sprint3_" xdt:Transform="SetAttributes(value)" />
    </appender>
  </log4net>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="BasicHttpBinding_IPrepaidService" address="http://localhost/siacunico-backend-sprint3/Dashboard/PrepaidService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IDashboardService" address="http://localhost/siacunico-backend-sprint3/Dashboard/DashboardService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_ICommonService" address="http://localhost/siacunico-backend-sprint3/CommonService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IPostpaidService" address="http://localhost/siacunico-backend-sprint3/Dashboard/PostpaidService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IWipBinService" address="http://localhost/siacunico-backend-sprint3/Cases/WipBinService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_ISecurity" address="http://localhost/security-backend-sprint3/Security.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IAudit" address="http://localhost/security-backend-sprint3/Audit.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>