@using System.Web.Optimization;
@{
    Layout = null;
}
<div id="FormConsumeLocalTrafficDetail">
    <div><input type="hidden" id="hidMsisdnTPConsume" value="" /></div>
    <div><input type="hidden" id="hidTypeCallTPConsume" value="" /></div>
    <div><input type="hidden" id="hidMsisdnTMConsume" value="" /></div>
    <div><input type="hidden" id="hidTypeCallTMConsume" value="" /></div>
    <div><input type="hidden" id="hidImportAllTPConsume" value="" /></div>
    <div><input type="hidden" id="hidImportAllTMConsume" value="" /></div>
    <div class="panel panel-info ">
        <div class="panel-heading claro-modal-contenido-titulo-panel">
            <h4 class="panel-title claro-modal-contenido-titulo-texto">
                <a data-toggle="collapse" href="#DatosTimProConsumeLocalcollapse"> TIM PRO </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in table-responsive" id="DatosTimProConsumeLocalcollapse">
            <table class="table  table-striped table-hover table-responsive claro-modal-tabla" id="tblTimProConsumeLocalTrafficDetail">
                <thead class="claro-bg-primary">
                    <tr>
                        <th class="col-sm-1">Nro. Teléfono</th>
                        <th class="col-sm-1">RTP</th>
                        <th class="col-sm-1">On Net</th>
                        <th class="col-sm-1">Off Net a Fijo</th>
                        <th class="col-sm-1">Off Net a Celular</th>
                        <th class="col-sm-1">Importe (S/.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info ">
        <div class="panel-heading claro-modal-contenido-titulo-panel">
            <h4 class="panel-title claro-modal-contenido-titulo-texto">
                <a data-toggle="collapse" href="#DatosTimMaxConsumeLocalcollapse"> TIM MAX </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in table-responsive" id="DatosTimMaxConsumeLocalcollapse">
            <table class="table  table-striped table-hover table-responsive claro-modal-tabla" id="tblTimMaxConsumeLocalTrafficDetail">
                <thead class="claro-bg-primary">
                    <tr>
                        <th class="col-sm-1">Nro. Teléfono</th>
                        <th class="col-sm-1">On Net</th>
                        <th class="col-sm-1">Off Net a Fijo</th>
                        <th class="col-sm-1">Off Net a Celular</th>
                        <th class="col-sm-1">Importe (S/.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataBilling/ConsumeLocalTrafficDetail")