@using System.Web.Optimization;
@{
    Layout = null;
}

<div id="modalheader" class="modal-header claro-modal-cabecera-panel">
</div>

<div id="modalbody" class="modal-body col-md-12">
    <div align="center"><img src="~/Images/loading2.gif" width="25" height="25" /> Cargando .... </div>
</div>

<div id="modalfooter" class="modal-footer">
</div>

@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")



