@using System.Web.Optimization;
@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}



<div id="divContenido">

</div>

<div id="myModalLoad" style="display:none;">
    <span>
        <img src="~/Images/loading2.gif" width="25" height="25" />  Cargando ....
    </span>
</div>
<div id="divSearchType">

</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")