@using System.Web.Optimization
<div id="modal-content">
    <div id="divOptionsDefault" class="row" style="display: inline;">
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/ClaroOptionsDefault")