@using System.Web.Optimization
@{
    Layout = Url.Content("~/Views/Shared/_LayoutPopup.cshtml");
}


<div id="ModalLoad" style="display:none;">
    <span>
        <img src="~/Images/loading.gif" width="25" height="25" />
    </span>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")